body {
    width: 100%;
}



.container {
    justify-self: center;
    display: flex;
    justify-content: space-around;
}

#product,
#category {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}