@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

#header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
}

#header a img {
    width: 140px;
    height: 60px;
    padding-right: 10px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart a i {
    font-size: large;
    margin-bottom: 5px;
}

#quantity {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 2px;
    padding: 3px 5px;
    font-size: 10px
}

#mobile {
    display: none;
    align-items: center
}

#close {
    display: none
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: " ";
    width: 30%;
    height: 2px;
    background: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}