/* Cài đặt cơ bản */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Căn giữa form đăng ký */
#form_register {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 700px;
}

.form_left,
.form_right {
    flex: 1;
    padding: 10px;
}


/* Tiêu đề */
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
    color: #444;
}

/* Các nhãn */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}

/* Các input */
#name,
#email,
#password,
#address,
#phone {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

#name:focus,
#email:focus,
#password:focus,
#address:focus,
#phone:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px #218838;
}

/* Nút đăng ký */
#register {
    width: 100%;
    padding: 10px;
    background-color: #3eab56;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register:hover {
    background-color: #218838;
}

/* Căn chỉnh div bao quanh */
div {
    margin-bottom: 15px;
}

#form_register div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.or {
    width: 100%;
    text-align: center;
}

.a_back {
    width: 100%;
    text-align: center;
}

.back {
    width: 100%;
    padding: 10px;
    background-color: #42a257;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}