body {
    width: 90%;
    justify-self: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: black;
    }


}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0;
}

.logo {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 70px;
}

.search {
    padding: 3px 15px 0 0;
    border-bottom: 1px solid #030000;
}

.search input,
.search-input:focus {
    padding: 13px;
    outline: none;
    border: none;
}

.nav-links {
    justify-self: center;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.user-options {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;

}

.user-options .admin-login {
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
}

.user-options i {
    padding-right: 5px;
}

.login {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.cart {
    position: relative;
    text-decoration: none;
}

.cart img {
    width: 24px;
    height: 24px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.double-hr1 {
    display: flex;
    align-items: center;
    margin-top: 40px;

    .line-left,
    .line-right {
        border: none;
        border-top: 1px solid black;
        width: 100%;
        margin: 0 10px;
    }

    .line-left {
        flex: 1;
    }

    .line-right {
        flex: 1;
    }
}

.double-hr2 {
    display: flex;
    align-items: center;
    margin-top: 40px;

    .line-left,
    .line-right {
        border: none;
        border-top: 1px solid black;
        width: 60%;
        margin: 0 10px;
    }

    .line-left {
        flex: 1;
    }

    .line-right {
        flex: 1;
    }
}

.brand-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    white-space: nowrap;
    font-size: 20px;
}

.banner img {
    margin-top: 45px;
    width: 100%;
    height: auto;
}


/* feature-product */
.feature-items {
    width: 85%;
    justify-self: center;
}

.feature-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.feature-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 0 auto;

}

.pro-container {
    width: 32%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pro-container img {
    width: 100%;
}

.div-btn {
    width: 100%;
}


.feature-items .shop-all {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* footer */
#footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: rgb(231, 238, 234);
}

#footer .info-contacts {
    display: flex;
    flex-direction: column;
}

#footer .info-contacts p,
#footer .info-contacts strong {
    color: black;
    opacity: 0.9;
    padding: 4px;
}

/*  */
#footer .info-contacts .follow-us {
    width: 100px;
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
}

#footer .info-contacts img {
    width: 100px;
    padding-left: 5px;
}

/*  */
#footer .contact-abouts p {
    color: black;
    opacity: 0.9;
    padding: 4px;
    margin-top: 4px;
}

#footer .contact-abouts strong {
    padding-left: 4px;
}

/* */
#footer .our-account p {
    color: black;
    opacity: 0.9;
    padding: 4px;
    margin-top: 4px;
}

#footer .our-account strong {
    padding-left: 4px;
}

/*  */
#footer .dowload-app p {
    color: black;
    opacity: 0.9;
    padding: 4px 4px 6px 4px;
    margin-top: 4px;

}

#footer .dowload-ap strong {
    padding-left: 4px;
}

#footer .dowload-app .imgs-dowload img {
    width: 130px;
    border: 1px solid black;
    border-radius: 3px;
}