/* feature-product */
.feature-items {
    width: 85%;
    justify-self: center;
}

.feature-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.feature-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 0 auto;

}

.pro-container {
    width: 32%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pro-container img {
    width: 100%;
}

.div-btn {
    width: 100%;
}


.feature-items .shop-all {
    width: 100%;
    display: flex;
    justify-content: center;
}