@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*shop Page */
#page-header {
    background-image: url('../imgs/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
}


#page-header h2,
#page-header p {
    color: #fff;
}


/*phan trang */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration-color: none;
    background-color: #088178;
    border-radius: 4px;
    padding: 15px 20px;
    color: #fff;
    font-weight: 500;
}

#paination a i {
    font-size: 16px;
    font-weight: 600;
}

/*Product Details*/
#prodetails {
    display: flex;
    margin-top: 80px;
}

#prodetails .single-pro-img {
    width: 30%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#prodetails .single-pro-img img {
    border-radius: 20px;
}

.small-img-group {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;

}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}

#prodetails .single-pro-details div {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

#prodetails .single-pro-details input {
    width: 40px;
    height: 47px;
    font-size: 16px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #088178;
    color: #fff;
    width: 100px;
    height: 49px;
}

#prodetails .single-pro-details span {
    line-height: 25px;
    padding: 5px 0;
}