<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>

<body>
    <a href="/">home</a>
    <div class="container">
        <div id="product">
            <a href="/admin/productForm">
                <h1>Products</h1>
            </a>
        </div>
        <div id="category">
            <a href="/admin/categoryForm">
                <h1>Category</h1>
            </a>
        </div>
    </div>
</body>

</html>