<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/auth/login.css">
</head>

<body>
    <h1>Login</h1>
    <form action="/auth/loginForm/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <div>
            <span>or</span>
            <a href="/auth/registerForm"><button type="button" class="login">Register</button></a>
        </div>
        <% if (error) { %>
            <script>
                alert('<%= error %>');
            </script>
            <% } %>

    </form>
</body>

</html>